<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd     
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="edu.mum.shareTrip" />
	<!-- <mvc:annotation-driven /> -->
	<mvc:annotation-driven  validator="validator" conversion-service="conversionService"/>
	
	<bean id="conversionService" 
	        class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	    <property name="formatters">
	        <set>
	            <bean class="edu.mum.shareTrip.formatter.DateFormatter"></bean>
	            <bean class="edu.mum.shareTrip.formatter.AuthorityFormatter"></bean>
	        </set>
	    </property>
	</bean>
	<!-- start tiles -->
	<!-- enable tiles -->
	<bean id="shareTripViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView" />
		<property name="order" value="-2" />
	</bean>
	<!-- tiles configuration -->
	<bean id="shareTripTilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<list>
				<value>/WEB-INF/shareTripTiles/definitions/shareTripTiles-definition.xml</value>
			</list>
		</property>
	</bean>
	<mvc:resources mapping="/css/**" location="/WEB-INF/resources/css/" />
		<!-- end tiles -->
		<!-- Message Spring MVC Resource -->
		<mvc:annotation-driven/>
		<mvc:resources  location="/WEB-INF/resources/images/"  mapping="/images/**"/>
		<mvc:resources  location="/resources/"  mapping="/resources/**"/>
		<bean id= "messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
   		<property name="basenames" value="messages,usermessages,tripmessages,vechilemessages"/> 
    	<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	<!-- end Message Spring MVC  -->
	<!-- Validation -->
	 	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="validationMessageSource" ref="messageSource" />
	</bean>
	<!-- end Validation -->
	
	<!-- MultiType Resolver for Upload Files -->
	<bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	  <property name="maxUploadSize" value="10240000"/>
	</bean>
	
	<mvc:interceptors>
 		<bean class= "org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
			<property name="paramName" value="language"/>
	 	</bean>	 	
 	</mvc:interceptors>
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
		<property name="defaultLocale" value="en_US"/>
	</bean>
	<!-- end MultiPart Resolver -->
</beans>